* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

body {
    background: #fff;
    padding: 30px;
}

/*==========Section 1 Navbar==========*/
#section1 {
    background: linear-gradient(90deg, #1677ff, #0958d9);
    border: none;
}

#section1 td{
    padding: 15px 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
#section1 td:hover{
    background:(255,255,255,0.15);
}

/*==========Section 2 Hero==========*/
#section2 {
    border: none;
    background: #fff;
}

#section2 td{
    padding: 50px;
}

#section2 h1{
    font-size: 32px;
    color: #000;
    margin-bottom: 15px;
}

#section2 p {
    color: #555;
    margin-bottom: 20px;
}

#section2 button {
    padding: 10px 18px;
    background: #1677ff;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

#section2 button:hover{
    background: #0958d9;
}

#section2 img{
    max-width: 100%;
    max-height: 50%;
    border-radius: 15px;
    background: #f3f3f3;
    padding: 10px;
}

/*==========Section 3 About==========*/

#section3 {
    border: none;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#section3 td{
    border: none;
    padding: 15px;
}

#section3 h2{
    color: #1677ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 5px;
}

#section3 p{
    color: #6b7280;
    text-align: center;
    margin-bottom: 10px;
}

#section3 tr:nth-child(n+2) td{
    background: #f9fafb;
    transition: 0.2;
}

#section3 tr:nth-child(n+2) td:hover{
    background:#e0e7ff;
}

/*==========Section 4 Portofolio==========*/

#section4 {
    background: #f8fafc;
    border: none;
}

#section4 td {
 padding: 25px;
 border: 1px solid #e5e7eb;
 background: #fff;
}

#section4 h2{
    color: #1e40af;
    margin-bottom: 10px;
}

#section4 h3{
    color: #111827;
    margin: 10px 0 5px00;
}

#section4 p {
    color: #6b7280;
}

#section4 img {
    max-width: 100%;
    border-radius: 10px;
}

#section4 td:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.2;
}

/*==========Responsive==========*/

/* Tablet */

@media (max-width: 900px){
    #section2 td {
        display: block;
        width: 100%;
        text-align: center;
    }

    #section3 h1{
        font-size: 24px;
    }
}

/* Mobile */

@media (max-width: 600px){
    #section1 tr {
        display: block;
    }

    #section1 td {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    #section2 td {
        padding: 15px;
    }

    #section3 td {
        display: block;
        width: 100%;
    }

    #section4 tr {
        display: block;
    }

    #section4 td {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
}
