@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.profile-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 15) !important;
}

.social-icons a {
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: blue !important;
    transform: translateY(-3px);
}

.nav-link {
    transition: all 0.3s;
}

.nav-link:hover {
    color: black !important;
}

.nav-pills .nav-link.active {
    background-color: white;
    border-color: white;
}

.btn-primary {
    background-color: blue;
    border-color: blue;
    color: white;
}

.btn-primary:hover{
    background-color: blue;
    border-color: blue;
}

/*==========Responsive==========*/

/* Tablet */

@media (max-width: 900px){
    .profile-img {
        width: 250px;
        height: 250px;
    }

    display-4{
        font-size: 2.5rem;
    }

    .navbar-collapse{
        text-align: center;
        margin-top: 1rem;
    }

    .navbar-nav .nav-item{
        margin: 0.5rem 0;
    }
}

/* Mobile */

@media (max-width: 600px){
    .profile-img{
        width: 200px;
        height: 200px;
    }

    display-4{
        font-size: 2rem;
    }
    
    display-5{
        font-size: 2rem;
    }
}
